@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-dark: #0B1220;
    --primary-gold: #F59E0B;
    --bg-card: #111827; /* Darker card */
    --text-main: #F3F4F6;
    --text-muted: #9CA3AF;
    --success: #22C55E;
    --danger: #EF4444;
  }
}


@media print {
  body * {
    visibility: hidden;
  }
  #print-root, #print-root * {
    visibility: visible;
  }
  #print-root {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  @page {
    margin: 0;
  }
}
